<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
    Default scope is singleton but prototype can be chosen for multiple instance creation
    -->
   <!-- <bean id="alien" class="com.springtests.yigit.test1.Alien" scope="singleton"></bean>-->
    <bean id="alien" class="com.springtests.yigit.test1.Alien"
          scope="prototype" autowire="byType"   >
        <constructor-arg value="100"></constructor-arg>
    </bean>
    <bean class="com.springtests.yigit.test1.base.Laptop" id="laptop"
          primary="true">
    </bean>
    <bean class="com.springtests.yigit.test1.base.Desktop" id="desktop">
    </bean>


</beans>